.card-body{
    height: 200px;  
}


.rosa {
    background-color: #ED729F;
    /* SHP
    #9DA6D7

    XLS
    #95CAA3

    CSV
    #ED729F

    JSON
    #9478A4

    XML
    #S9A40 */
}

.fondoCsv{
    background-image: url('../../../assets/img/csvtest.png');
    background-size: cover;
    background-position: center;
}
.letraBlanca{
    color:white;
}

