.card-body{
    height: 200px;  
}


.naranja {
    background-color:  #ED9B40;
    /* SHP
    #9DA6D7

    XLS
    #95CAA3

    CSV
    #ED729F

    JSON
    #9478A4

    XML
    #S9A40 */
}

.fondoCard{
    background-image: url('../../../assets/img/xmltest.png');
    background-size: cover;
    background-position: center;
}
.letraBlanca{
    color:white;
}

