<div class="container-fluid mt-2">
    <div class="row">
        <div class="col-md-4"><!--vacio--></div>
        <div class="col-md-4">
            <form class="d-flex" role="search">
                <input class="form-control mr-sm-2 buscador" type="search" placeholder="Filtrar resultados..." aria-label="Search" [(ngModel)]="buscador" name="buscador">           
            </form>
        </div>
        <div class="col-md-4"><!--vacio--></div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered mt-2">
                <thead class="table-dark">
                  <tr>
                    <th>Nombre Archivo</th>
                    <th>Formato</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Fecha</th>
                    <th>Observaciones</th>
                  </tr>
                </thead>
                <tbody *ngIf="bitacora">
                    <tr *ngFor="let unaBitacora of bitacora | filter:buscador" (click)="redirigirBitacoraEspecifica(unaBitacora._id)">
                        <td class="text-center">{{unaBitacora.nombreArchivo}}</td>
                        <td class="text-center">{{unaBitacora.categorias[0].nombre}}</td>
                        <td class="text-center">{{unaBitacora.nombre}}</td>
                        <td *ngIf="unaBitacora.estado" class="text-center"><i class="fa-solid fa-check"></i></td>
                        <td *ngIf="!unaBitacora.estado" class="text-center"><i class="fa-solid fa-xmark"></i></td>
                        <td class="text-center">{{unaBitacora.createdAt | date: 'dd/MM/yyyy hh:mm:ss' }}hs</td>
                        <td class="text-center">{{unaBitacora.observacion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" (click)="cambiarPaginaAnterior()">
                    <a class="page-link"  tabindex="-1">Anterior</a>
                </li>
                <li class="page-item" (click)="cambiarPagina(1)"><a class="page-link">1</a></li>
                <li class="page-item" (click)="cambiarPagina(2)"><a class="page-link">2</a></li>
                <li class="page-item" (click)="cambiarPagina(3)"><a class="page-link">3</a></li>
                <li class="page-item" (click)="cambiarPaginaSiguiente()">
                    <a class="page-link" >Siguiente</a>
                </li>
            </ul>
          </nav>
    </div>
</div>
